@layer resets,
layouts,
utils,
components,
add-on,
animation;
@import url('../css/calendar.css');

:root {
 --mainWindow-height: 100svh;
 --navList_height: ;
 
 --all_black: hsl(0, 0%, 0%);
}

@layer resets {
 
 @font-face {
  font-family: 'Archivo';
  src: url('../Assets/fonts/ArchivoNarrow_Regular.ttf');
 }
 
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Archivo';
 }
 
 body {
  font-size: 1rem;
  background-color: hsla(0, 1.1%, 7.2%, 1);
  width: 100svw;
  height: 100svh;
  position: relative;
  color: whitesmoke;
 }
 
 
 [data-menu-items] {
  width: 50px;
 }
 
 .toggle_show {
  display: flex;
  transition: all 200ms;
  
  @starting-style {
   scale: 0.7;
  }
 }
 
 .desktop {
  display: none;
 }
 
 .masking {
  mask-repeat: no-repeat;
  mask-size: cover;
 }
 
 .disp_rf {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
 }
 
 .disp_cf {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .disp_grid-Cnt {
  display: grid;
  place-content: center;
 }
 
 .all_click {
  position: relative;
 }
 
 .all_click::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
 }
 
 input,
 button,
 dialog {
  border: none;
  outline: none;
 }
 
 ul {
  list-style: none;
  list-style-position: inset;
 }
 
 a {
  text-decoration: none;
 }
 
 @media (min-width: 900px) {
  .navigation {
   display: none;
  }
  
  .desktop {
   display: block;
  }
 }
 
}

@layer layouts {
 body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto minmax(5%, max-content);
 }
 
 main {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  background-color: inherit;
 }
 
 .main-window {
  scroll-snap-align: center;
  position: relative;
  overflow: scroll;
 }
 
 .all_nav {
  justify-content: space-between;
  align-items: stretch;
 }
 
 .navigation {
  position: relative;
 }
 
 .notifications {
  margin-inline: auto 0;
 }
 
 .disp7_gdc {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
 }
 
 .navList {
  min-width: 150px;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 99;
  overflow: hidden;
  display: none;
 }
 
 .all_window {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, min(100%, fit-content(50%))));
  grid-template-rows: repeat(2, minmax(50px, max-content)) repeat(auto-fit, minmax(0%, 1fr));
  grid-template-areas:
   "all all"
   "not slk"
   "tsk slk";
  grid-auto-flow: sparse;
 }
 
 .all_main {
  grid-column: auto / span 2;
 }
 
 .notice_board {
  grid-column: auto / span 2;
  z-index: 98;
 }
 
 .task_container {
  grid-column: auto / span 2;
  overflow: scroll;
  position: relative;
  transition: all 800ms;
 }
 
 [data-sleek-side] {
  width: 0;
  background: hsl(206.6, 0%, 6.6%);
  position: absolute;
 }
 
 @media (min-width: 650px) {
  * {
   font-size: 1rem;
  }
  
  .all_main {
   grid-column: auto / span 2;
   grid-area: all;
  }
  
  .notice_board {
   grid-area: not;
  }
  
  .task_container {
   grid-area: tsk;
   overflow: visible;
  }
  
  [data-sleek-side] {
   grid-area: slk;
   width: auto;
   position: static;
  }
  
 }
 
 .addTask_dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: clamp(10em, 95vw, 25em);
  box-shadow: 2px 1px 20px 2px hsla(129.3, 98.1%, 1.7%);
  background-color: hsl(0, 0%, 4.2%);
  transition: all 500ms;
  transition-timing-function: ease-in-out;
  overflow: visible;
  z-index: 100;
 }
 
 @starting-style {
  .addTask_dialog {
   opacity: .6;
  }
 }
 
 .addTask_window {
  background-color: hsl(0, 0%, 4.2%);
  display: grid;
  grid-template-columns: 100px 4fr repeat(auto-fit, minmax(0%, 1fr));
  grid-template-rows: repeat(3, minmax(0%, 30px));
  grid-template-areas:
   "tsk tsk duD duD"
   "tsk tsk pr lbl"
   "addTask tgC tgC cancel";
  gap: 10px;
  grid-row-gap: 1rem;
  overflow: hidden;
 }
 
 .pops {
  z-index: 10;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  gap: 0;
 }
 
 .priority {
  grid-area: pr;
 }
 
 .label {
  grid-area: lbl;
 }
 
 .tag_choice {
  grid-area: tgC;
  gap: .5em;
  
  >.choice {
   width: 50%;
  }
 }
 
 .archive_window {
  display: grid;
  grid-template-columns: minmax(0%, 35%) minmax(0%, 3fr);
  grid-template-rows: minmax(0%, max-content) repeat(auto-fit, minmax(0%, 1fr));
 }
 
 @scope (.archive_window) {
  .all_nav {
   grid-column: auto / span 2;
  }
  
  .archive_list {
   --vary-paddBlk: 1;
   align-items: flex-start;
  }
  
  .archive_custom-window {
   --vary-paddBlk: 0.8;
   --vary-paddInl: 1;
   background-color: hsl(206.6, 0%, 6.6%);
   border-left: .3em solid hsl(131.7, 0%, 11.5%);
  }
 }
 
 .foot_taskBar {
  align-items: stretch;
  justify-content: stretch;
  gap: 0;
 }
 
 @media (min-width: 900px) {
  
  /* layouts */
  body {
   display: grid;
   grid-auto-flow: column-reverse;
   grid-template-columns: max-content auto;
   grid-template-rows: max(100dvh);
   grid-template-areas:
    "side main";
  }
  
  .navList {
   left: 0%;
   top: 95%;
   translate: 0% -95%;
  }
  
  .main_layout {
   grid-area: main;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40%, auto));
   grid-auto-rows: 1fr 1fr;
   grid-auto-flow: dense;
   grid-template-areas:
    "all archive"
    "all accounts";
   gap: 0;
   height: 100%;
  }
  
  .all_window {
   grid-area: all;
  }
  
  .addTask_dialog {
   position: absolute;
   top: 50%;
   left: 8%;
   translate: -8% -50%;
  }
  
  .archive_window {
   grid-area: archive;
  }
  
  .accounts_window {
   grid-area: accounts;
  }
  
  .foot_taskBar {
   grid-area: side;
   flex-direction: column;
   justify-content: flex-start;
  }
  
  .notifications {
   margin-block: auto 0;
   margin-inline: 0;
  }
 }
 
}


@layer utils {
 .padd {
  --vary-paddBlk: 0;
  --vary-paddInl: 0;
  padding-block: calc(1em * var(--vary-paddBlk));
  padding-inline: calc(1em * var(--vary-paddInl));
 }
 
 .all_nav {
  --vary-paddBlk: 0.8;
  --vary-paddInl: 1;
 }
 
 .navList {
  margin-block-start: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px hsla(129.3, 100%, 2.2%, 0.542);
  background-color: hsl(206.6, 0%, 8.2%);
  color: white;
  fill: hsla(139.7, 100%, 43.2%, 0.512);
 }
 
 .navItems {
  --vary-paddBlk: .7;
  --vary-paddInl: 0;
  white-space: nowrap;
  
  >span {
   font-size: 0.8em;
   font-weight: 400;
   letter-spacing: 1.5px;
  }
 }
 
 .task_container {
  --vary-paddBlk: 1;
  --vary-paddInl: 0.85;
 }
 
 .choice {
  font-size: 0.85em;
  font-size: 420;
  letter-spacing: 0.15em;
  text-align: center;
  text-overflow: ellipsis;
  opacity: 1;
 }
 
 .archive_custom-window {
  --vary-paddBlk: 0.8;
  --vary-paddInl: 1;
 }
 
 .empty_cutom {
  font-size: 0.8em;
 }
 
 .head_hr {
  font-size: .95em;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: hsl(0, 0%, 33.7%);
  justify-content: center;
  margin-block: 2pc 1rem;
 }
 
 .account-list {
  --vary-paddBlk: 0;
  --vary-paddInl: 1;
 }
 
 .addTask_window {
  --vary-paddBlk: 1;
  --vary-paddInl: 0.7;
 }
 
 .pops {
  background-color: rgba(40, 40, 40, 0.481);
  backdrop-filter: blur(20px);
  margin-left: 10px;
  border-radius: 1px;
 }
 
 .priority_list {
  width: 30%;
  overflow: hidden;
  align-items: flex-start;
  display: none;
  
  >.pops_item {
   width: 100%;
  }
 }
 
 .label_list {
  width: 70%;
  overflow: scroll;
  flex-wrap: wrap;
  transition: all 1.5s;
  transition-delay: 2s;
  display: none;
 }
 
 .foot_taskBar {
  background: hsl(0, 0.1%, 11.2%);
 }
 
 @font-face {
  font-family: 'Oswald';
  src: url('../Assets/fonts/FredokaOne.ttf')
 }
 
 .window_name {
  font-size: 1.25em;
  font-family: 'Oswald';
  letter-spacing: 1.5px;
  color: white;
  color: hsl(213, 5.5%, 60.9%);
 }
 
 @media (max-height: 400px) {
  * {
   font-size: .98em;
  }
 }
 
 @media (min-width: 900px) {
  
  /* Utils */
  
  .foot_taskBar {
   --vary-paddBlk: .5;
   --vary-paddInl: 0;
  }
  
  .navList {
   margin-block-end: 1rem;
   margin-inline-start: 1rem;
  }
  
  main {
   padding-inline-end: 0rem;
  }
  
  .head_hr {
   margin-block-start: 0;
  }
  
 }
 
}

@layer components {
 :root {
  --buttonPrimary-color: hsl(0, 1.6%, 58.2%);
  --variant_red1: hsl(360, 99.2%, 62.2%);
  --red1_alpha: hsla(360, 99.2%, 62.2%, 0.226);
  
  --variant_green1: hsl(126.9, 100%, 53.2%);
  --green1_alpha: hsla(126.9, 100%, 53.2%, .45);
 }
 
 button {
  font-size: 0.95em;
  font-weight: 500;
  background: transparent;
  position: relative;
  transition: 200ms;
  color: var(--buttonPrimary-color);
 }
 
 /**
 .button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: yellow;
 }
 */
 
 .hover {
  transition: all 50ms;
  
  &:active {
   background-color: hsla(0, 0%, 22.1%, 0.672);
  }
 }
 
 .cancel {
  --vary-paddBlk: .5;
  --vary-paddInl: .65;
  color: var(--variant_red1);
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  background: hsla(360, 2.7%, 19.2%, 0.414);
  border-radius: .3em;
 }
 
 .cancel:active {
  background: var(--red1_alpha);
 }
 
 .notifications {
  fill: var(--variant_red1);
 }
 
 .mobile {
  --vary-paddBlk: .6;
  --vary-paddInl: .8;
 }
 
 .archive_button,
 .account_item {
  --vary-paddBlk: .5;
  --vary-paddInl: .5;
  width: 100%;
  font-size: .85em;
  justify-content: space-between;
 }
 
 .archive_button span {
  font-size: 0.8em;
 }
 
 .footButton {
  --vary-paddBlk: 1;
  --vary-paddInl: 1.4;
  flex: 0 1 25%;
  align-items: center;
  justify-content: center;
 }
 
 .footButton.current svg {
  fill: hsl(203.9, 100%, 50.7%);
 }
 
 .footButton svg {
  fill: hsl(0, 0.1%, 59.7%);
 }
 
 .add-task svg {
  fill: var(--variant_green1);
 }
 
 .add-task:disabled>svg {
  fill: var(--green1_alpha);
 }
 
 .description {
  --Primary-color: hsl(0, 0%, 81.5%);
  grid-area: tsk;
  border: none;
  border-bottom: 5px solid hsl(131.7, 0%, 11.5%);
  background: hsl(204, 12.8%, 7.6%);
  color: var(--Primary-color);
  outline: none;
  padding-block: 0.5em;
  padding-inline: 0.7em;
  transition: border 200ms;
  font-size: 0.8em;
 }
 
 .description:focus {
  border-bottom: 5px solid var(--variant_green1);
  background: hsla(165.5, 0%, 29.8%, 0.217);
 }
 
 #due {
  grid-area: duD;
  font-weight: 350;
  font-size: 0.69em;
  letter-spacing: 0.025em;
  color: white;
  
  &::placeholder {
   color: rgba(135, 134, 134, 0.481);
   font-size: 0.9em;
  }
  
  &:active {
   background-color: hsla(165.5, 0%, 29.8%, 0.761);
  }
 }
 
 .taskInput {
  background-color: #111416;
  padding-block: 0.3em;
  padding-inline: 0.5em;
  color: hsl(210, 0%, 94.2%);
  font-size: 0.8em;
  font-weight: 350;
  letter-spacing: 1px;
  transition: all 200ms;
  cursor: pointer;
  
  &::placeholder {
   color: rgba(135, 134, 134, 0.481);
   font-size: 0.9em;
  }
 }
 
 .choice {
  background-color: transparent;
 }
 
 .addTask_Button {
  border: none;
  outline: none;
  background: hsl(204, 12.8%, 7.6%);
  fill: var(--variant_green1);
  border-radius: .3em;
  color: hsl(0, 0.9%, 79%);
  padding-block: 0.3em;
  padding-inline: 0.4em;
  gap: 0.3em;
  font-size: 0.8em;
  font-weight: 350;
  letter-spacing: 1px;
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &:active {
   background: hsla(165.5, 0%, 29.8%, 0.761);
  }
 }
 
 .pops_item {
  --vary-paddBlk: 0.6;
  --vary-paddInl: 0.5;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: white;
  transition: all 200ms;
  flex: 1 0 auto;
  text-align: center;
 }
 
 .pops_selected {
  transition: all 0s;
  background-color: var(--variant_green1);
  color: black;
  font-weight: 600;
 }
 
 .addTask {
  grid-area: addTask;
  justify-content: center;
  background: hsla(196.9, 100%, 58.9%, 0);
  color: var(--variant_green1);
  font-weight: 600;
  
  &:disabled {
   opacity: .5;
   color: var(--green1_alpha);
  }
 }
 
 .addTask_window .cancel {
  grid-area: cancel;
 }
 
 @media (min-width: 650px) {
  .menuHam {
   display: none;
  }
 }
 
 @media (min-width: 900px) {
  .mobile {
   display: none;
  }
  
  .pops_item:hover {
   background-color: hsla(131.7, 94.6%, 18.7%, 0.532);
  }
  
  .footButton {
   --vary-paddBlk: 1.5;
   --vary-paddInl: 1;
   flex: 0 1 50px;
   align-items: center;
   justify-content: center;
  }
  
  .footButton:nth-child(4) {
   display: none;
  }
  
  .footButton svg {
   width: 18px;
   height: 18px;
  }
 }
 
}

@layer add-on {
 
 .navList_active {
  transition: all 800ms;
  display: block;
  
  @starting-style {
   opacity: 0.5;
   transform: rotateY(60deg)
  }
 }
 
 .taskWindow_active {
  transition: all 800ms;
  display: grid;
  
  @starting-style {
   opacity: 0.5;
   translate: -50% -200%;
  }
 }
 
 @media (min-width: 900px) {
  .taskWindow_active {
   
   @starting-style {
    opacity: 0.5;
    translate: -8% 0%;
   }
  }
 }
 
 
 .pops_active {
  display: flex;
  transition: all 800ms;
  
  @starting-style {
   translate: -100% -50%;
  }
 }
 
 /* Tod0o */
 @scope (.todo) {
  && {
   --checked: hsl(299.4, 100%, 47.7%);
   --high_color: hsla(351, 100%, 47.7%, 0.700);
   --mid_color: hsl(61.5, 100%, 53.2%, 0.700);
   --low_color: hsl(180.4, 100%, 55.7%, 0.700);
   --none_color: hsl(61.5, 0%, 36.2%);
   
   --primary-color: hsl(225, 6.6%, 66.2%);
   --secondary-color: hsl(0, 0%, 42.4%);
  }
  
  
  && {
   --vary-paddInl: .25;
   --vary-paddBlk: .3;
   margin-block-end: 1em;
   display: grid;
   grid-template-columns: minmax(auto, 30px) auto minmax(auto, 30px);
   grid-auto-rows: auto;
   grid-template-areas:
    "check content menu"
    "foot foot foot";
   gap: 0.5em;
   align-items: center;
   font-size: 0.85em;
   background-color: hsl(163.2, 0%, 15.7%);
   transition: 200ms;
   z-index: 10;
   transition: all 1s;
  }
  
  button {
   border-radius: 0.3em;
  }
  
  .todo_check {
   grid-area: check;
   gap: 0;
   justify-content: center;
   align-items: center;
   fill: hsl(210, 0%, 31.2%);
   
   >.checked {
    fill: var(--checked);
   }
  }
  
  .todo_content {
   grid-area: content;
   color: var(--primary-color);
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   font-size: 1.15em;
   font-weight: 300;
  }
  
  .todo_menu {
   grid-area: menu;
   justify-content: center;
   fill: var(--all_black);
   
   &:active {
    fill: hsl(299.4, 0%, 38.7%);
   }
  }
  
  .todo_foot {
   grid-area: foot;
   font-size: 0.95em;
   display: flex;
   align-items: flex-end;
   gap: 1em;
   color: var(--secondary-color);
  }
  
  
  .todo_priority {
   display: flex;
   align-items: flex-end;
   
   &.high_color {
    fill: var(--high_color);
   }
   
   &.mid_color {
    fill: var(--mid_color);
   }
   
   &.low_color {
    fill: var(--low_color);
   }
   
   &.none_color {
    fill: var(--none_color);
   }
   
   >svg {
    width: 18px;
   }
   
  }
  
  .todo_label {
   margin-inline: auto 0;
  }
  
  .todo_menuPopup {
   position: absolute;
   top: 0%;
   right: 10%;
   margin-inline-end: 6px;
   overflow: hidden;
   border-radius: 0.3em;
   align-items: flex-start;
   background-color: hsl(0, 0%, 11.2%);
   display: none;
   
   >*:active {
    background-color: var(--none_color);
   }
  }
  
  .toggle_show {
   display: flex;
   transition: all 200ms;
   
   @starting-style {
    scale: 0.7;
   }
  }
  
  .menuPop_btn {
   --vary-paddInl: .7;
   --vary-paddBlk: .7;
   width: 100%;
   justify-content: flex-start;
   gap: 1em;
   color: var(--primary-color);
   letter-spacing: 0.05em;
   
   >svg {
    width: 22%;
    height: 80%;
    fill: var(--primary-color);
   }
  }
  
 }
 
 @scope(.completed) {
  && {
   --primary-color: hsl(0, 0%, 18.7%);
   --secondary-color: hsl(0, 0%, 18.7%);
   
  }
  
  && {
   background-color: hsl(0, 0%, 11.2%);
   color: hsl(211.7, 0.1%, 12.2%);
  }
  
  .todo_content {
   text-decoration: line-through 0.15em currentColor;
  }
  
  .todo_priority {
   &.high_color {
    fill: var(--primary-color);
   }
   
   &.mid_color {
    fill: var(--primary-color);
   }
   
   &.low_color {
    fill: var(--primary-color);
   }
   
   &.none_color {
    fill: var(--primary-color);
   }
  }
  
  .menuPop_btn {
   --primary-color: hsl(225, 6.6%, 66.2%);
   color: var(--primary-color);
   
   >svg {
    fill: var(--primary-color);
   }
  }
  
 }
 
 @scope (.detail-dialog) {
  && {
   --primary-color: hsl(0, 1.6%, 79.7%);
   --odd-bleak: hsl(214.9, 0%, 12.2%);
   
   display: none;
   width: 300px;
   position: absolute;
   top: 50svh;
   left: 50svw;
   translate: -50% -50%;
   height: fit-content;
   background-color: hsl(232.1, 0%, 4.7%);
   border-radius: .5em;
   z-index: 100;
  }
  
  &&.toggle_show {
   display: block;
  }
  
  .cancel {
   margin-block: .4em;
   margin-inline: auto .5em;
  }
  
  .detail_lists {
   font-size: 0.9em;
   
   li {
    --vary-paddBlk: 0.65;
    --vary-paddInl: 0.75;
    justify-content: flex-start;
    gap: 1em;
    
    .list_head {
     flex: 0 0 30%;
     border-right: 2px solid var(--odd-blue);
     font-weight: 420;
     font-size: 1em;
     ;
    }
    
    .list_content {
     font-weight: 360;
     font-size: 0.9em;
     color: var(--primary-color);
    }
   }
   
   li:nth-child(odd) {
    background-color: var(--odd-bleak);
    
    .list_head {
     border-right: .2em solid var(--all_black);
    }
   }
   
  }
  
  .detail_content {
   --vary-paddBlk: 0.65;
   --vary-paddInl: 0.5;
   text-align: center;
   text-align-last: center;
   color: var(--primary-color);
   word-break: break-all;
  }
  
  @media (min-width: 650px) {
   && {
    --vary-paddBlk: .5;
    --vary-paddInl: .3;
    display: block;
    position: static;
    inset: 0;
    translate: 0 0;
    width: auto;
    background-color: hsl(232.1, 1.6%, 14.7%);
    background-color: transparent;
    border-radius: 0;
   }
   
   .cancel {
    display: none;
   }
   
   .detail_lists {
    
    li {
     display: inherit;
     flex-direction: column;
    }
    
    .list_head {
     --vary-paddBlk: 0;
     --vary-paddInl: 0;
     border: none;
    }
    
    li:nth-child(odd) {
     background-color: transparent;
    }
   }
  }
 }
 
 @scope (.filter) {
  && {
   --vary-paddBlk: .5;
   --vary-paddInl: .8;
   
   width: fit-content;
   position: absolute;
   
   top: 50svh;
   left: 50svw;
   
   translate: -50% -50%;
   background-color: hsl(225.8, 1.1%, 10.2%);
   z-index: 98;
   display: none;
   grid-template-columns: max-content repeat(2, minmax(auto, max-content));
   gap: .5em;
  }
  
  &&.filter_active {
   display: grid;
  }
  
  h4 {
   letter-spacing: 1px;
   font-weight: 60;
   font-family: 'Archivo';
  }
  
  .filt {
   color: hsl(225.8, 2.1%, 85.7%);
   font-size: 0.85em;
  }
  
  .aux {
   color: hsla(225.8, 2.1%, 85.7%, 0.887);
   text-align: center;
   font-size: .8em;
   letter-spacing: 1px;
   align-items: flex-end;
   justify-content: center;
  }
  
  .filter_btn-container {
   display: grid;
  }
  
  button {
   border-radius: 6px;
  }
  
  .filter_btn {
   --vary-paddBlk: .5;
   --vary-paddInl: .4;
   fill: hsl(225.8, 0%, 46.2%);
   justify-self: center;
   align-self: center;
  }
  
  .filter_sort {
   --vary-paddBlk: .3;
   --vary-paddInl: .3;
   color: hsl(206.6, 100%, 43.2%);
   font-weight: 600;
   letter-spacing: 1.2px;
   
   &:disabled {
    color: hsla(225.8, 0%, 100%, 0.342);
   }
  }
  
  .cancel {
   grid-column: 3 / 4;
  }
  
  @media (min-width: 650px) {
   && {
    position: static;
    inset: 0;
    translate: 0 0;
    width: 100%;
    display: grid;
    background: transparent;
   }
   
   .filter_sort {
    --vary-paddBlk: .3;
    --vary-paddInl: .3;
    margin-block-start: .5em;
    color: hsl(206.6, 100%, 43.2%);
    font-weight: 600;
    letter-spacing: 1.2px;
    
   }
   
   .cancel {
    display: none;
   }
   
  }
  
 }
 
}

@layer animation {
 
 @scope (.navList_active) {
  .navItems {
   translate: -50% 0;
   animation: nvit 800ms ease-in-out both;
  }
  
  @keyframes nvit {
   to {
    translate: 0;
   }
  }
 }
 
 
 @keyframes vanish {
  to {
   display: none;
  }
 }
 
 @scope (.pops_active) {
  .pops_item:nth-last-child(even) {
   translate: -60%;
   animation: lbl 700ms ease-in-out both;
  }
  
  @keyframes lbl {
   to {
    translate: 0;
   }
  }
  
  .pops_item:nth-last-child(odd) {
   translate: 60%;
   animation: lbl 800ms ease-in-out both;
  }
 }
 
 .deleta {
  transition: all 500ms;
  translate: -200px 0;
  opacity: 0.4;
  
  animation: del 700ms ease-in-out both;
 }
 
 
 @keyframes del {
  0% {
   translate: 0px 0px;
   opacity: 1;
  }
  
  100% {
   translate: -250px 0px;
   opacity: 0;
   display: none;
  }
 }
 
 
}




/* Dialog time */

@scope (.dialog_time) {
 && {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 101;
  background-color: hsl(236.8, 0%, 2.2%);
  color: white;
  font-size: 0.9rem;
 }
 
 &.modal {
  display: block;
 }
 
 &.add_on {
  z-index: -1;
 }
 
 .cover {
  display: grid;
  grid-template-columns: minmax(40px, 70px) 3fr;
  grid-template-rows: 15% auto;
  grid-template-areas:
   "side navBar"
   "side main";
  grid-row-gap: 0.5em;
  /*width: clamp(20rem, 21.5rem, 24rem);*/
  width: 350px;
 }
 
 .padd {
  --vary-paddBlk: .4;
  --vary-paddInl: 0.5;
 }
 
 button {
  padding-block: 0.5em;
  padding-inline: 0.6em;
 }
 
 .nav {
  --vary-paddBlk: .8;
  --vary-paddInl: 0.5;
  grid-area: navBar;
  justify-content: flex-end;
  color: hsla(0, 0%, 100%, 0.598);
  
  .current {
   color: hsla(0, 0%, 100%, 1);
  }
 }
 
 .side {
  grid-area: side;
  gap: 0.4;
  align-items: flex-start;
  background-color: hsl(213.8, 0%, 14.4%);
  box-shadow: inset -17px 0px 8px -15px hsla(0, 0%, 0%, 0.684);
  
  >.toggle_clasNAme {
   color: white;
   background-color: ;
   font-size: .75em;
   font-weight: 350;
   letter-spacing: 1.5;
   padding-inline: 0.3rem;
   padding-block: 0.25rem;
   
   &:disabled {
    color: hsl(0, 1.1%, 48.2%);
    font-weight: 380;
    
    &:hover {
     background-color: transparent;
    }
   }
   
   &:last-of-type {
    margin-block: auto 0;
   }
   
   &:hover {
    background-color: hsla(111.6, 100%, 50%, 0.156);
   }
  }
 }
 
 .main {
  grid-area: main;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 100%);
  overflow: hidden;
 }
 
 .main .sect_primary {
  >.chamber {
   margin-block-end: 10px;
   justify-content: space-between;
   align-items: stretch;
   gap: 0;
   
   &&:has(.time_fields) {
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
   }
   
   .time_fields {
    max-width: 35px;
    background-color: transparent;
    border-bottom: 4px solid hsla(135, 100%, 49.2%, 0.6);
    color: whitesmoke;
    padding-block: 0.3em;
    font-size: 1.05em;
    text-align: center;
   }
   
   .meridean {
    color: white;
    display: grid;
    place-content: center;
    border-radius: 8px;
    border: 2px solid transparent;
    
    &.current {
     border-color: hsla(134.1, 99.9%, 51.9%, 0.9);
    }
   }
   
   >.controls {
    font-weight: 600;
    font-size: 0.8em;
    background-color: hsla(134.1, 99.9%, 51.9%, 0.75);
    border-radius: 2px;
    color: black;
    
    &:active {
     box-shadow: inset 2px 4px 10px 2px hsla(0, 0%, 21.7%, 0.737);
     background-color: transparent;
     color: whitesmoke;
    }
   }
   
   >.Time_digits {
    max-width: 60%;
    overflow: scroll;
    align-items: stretch;
    gap: 0.35em;
    
    li {
     border-bottom: 3px solid transparent;
     flex-basis: 20%;
     padding-block: 1em;
    }
    
    >.active-time {
     border-bottom-color: hsl(109.1, 100%, 53.2%);
    }
   }
   
   .Time_digits>li {
    flex: 1 0 20%;
    justify-content: center;
    background-color: hsl(149.1, 0%, 11.5%);
    color: hsl(0, 0%, 66.6%);
    font-size: .85em;
    font-weight: 600;
   }
   
  }
 }
}

.main .sect_secondary {
 display: grid;
 grid-template-columns: 1fr 5fr 20%;
 grid-template-rows: minmax(auto, 220px);
 grid-template-areas:
  "ds d u";
 position: relative;
 padding-inline: 0.4em 0.2em;
 margin: 2px;
 
 .disp_7-grid {
  display: grid;
  grid-template-rows: repeat(7, minmax(0%, 28px));
  grid-auto-flow: column;
  gap: 3px;
 }
 
 .days_container {
  grid-area: ds;
  
  .days {
   font-size: .8em;
   font-weight: 600;
   letter-spacing: 1px;
   color: hsl(210.2, 0%, 100%);
   justify-self: flex-start;
   width: fit-content;
  }
 }
 
 .day_container {
  grid-area: d;
  width: fit-content;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
 }
 
 .months {
  scroll-snap-align: center;
  flex-grow: 2;
  max-width: 100%;
  height: fit-content;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  
  
  >li button {
   width: 100%;
   font-size: .9em;
   font-weight: 600;
   color: hsla(0, 0%, 87.2%, 0.797);
   background-color: hsla(135, 100%, 55.7%, 0.0502);
   
   &:hover {
    background-color: hsl(109.1, 100%, 53.2%);
    color: black;
   }
   
   &:disabled {
    color: rgba(181, 180, 180, 0.497);
   }
  }
  
  
  .current {
   background-color: hsl(150.7, 100%, 27.7%);
  }
  
  .one {
   align-self: flex-end;
   height: 28px;
  }
 }
 
 .date_utils {
  text-align: right;
  grid-area: u;
  background-color: ff1d1d;
  margin-block-end: 0.3em;
  
  >.first_utility {
   width: 100%;
  }
  
  .date_fields {
   color: white;
   background-color: hsl(0, 0%, 12.7%);
   max-width: 80%;
   font-weight: 500;
   font-size: 0.85em;
   text-align: right;
   padding-block: .5em;
   padding-inline: .4em;
   margin-block-end: .2em;
  }
  
  .active_month {
   background-color: transparent;
   text-align: center;
   margin-block: .7em;
  }
  
  >.second_utility {
   overflow: scroll;
   gap: 5px;
   margin-block: auto 0;
   
   .year_btn {
    border-radius: 2px;
    font-size: 0.8em;
    padding-block: .3em;
    padding-inline: .2em;
    margin-block-end: .5em;
   }
   
   .current {
    background: hsl(130.4, 100%, 48.6%);
    color: hsl(0, 0%, 0%);
    font-weight: 800;
   }
  }
 }
 
 .monthList {
  position: absolute;
  top: 60%;
  left: 0;
  margin-inline-start: 8px;
  background-color: hsl(213.8, 0%, 14.4%);
  backdrop-filter: blur(10px);
  color: white;
  max-width: 90%;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  z-index: 1;
  overflow: scroll;
  
  >li {
   flex: 1 1 15%;
   --vary-paddBlk: 0.75;
   --vary-paddInl: 0;
   font-size: 0.85em;
   transition: background-color 500ms;
   
   &:hover {
    background-color: hsl(109.1, 100%, 53.2%);
    color: black;
    font-weight: 550;
   }
  }
  
  display: none;
 }
 
 .toggle_show {
  display: flex;
  transition: all 200ms;
  
  @starting-style {
   scale: 0.7;
  }
 }
 
}
}